*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  font-family: "Inter", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141414;
}

main{
  /* border: 1px solid blue; */
  border-radius: 10px;
  width: 350px;
  height: auto;
  padding-bottom: 15px;
  background-color: #1f1f1f;
}

.hero-img{
  /* border: 1px solid orange; */
}

.hero-img img{
  width: 80px;
  border-radius: 50px;
  margin-top: 35px;
}

.hero-img, .title, .sub-text, .description{
  text-align: center;
}

.title{
  /* border: 1px solid purple; */
}

.title h2{
  margin: 14px 0 0 0;
  color: #ffffff;
  font-weight: 700;
}

.sub-text{
  /* border: 1px solid purple; */
}

.sub-text h4{
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #c5f82a;
}

.description{
  /* border: 1px solid purple; */
}

.description h5{
  margin: 20px 0 14px 0;
  color: #ffffff;
  font-weight: 400;
}

.btn-section{
  /* border: 1px solid hotpink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  /* border: 1px solid darkgreen; */
  border: none;
  background-color: #333333;
  color: #ffffff;
  width: 80%;
  margin: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: ease 0.3s;
}

button:hover{
  background-color: #c5f82a;
  color: #141414;
  padding: 14px;
  width: 85%;
  transition: ease 0.3s;
}

button:focus{
  background-color: #c5f82a;
  color: #141414;
  padding: 10px;
  width: 80%;
  transition: ease 0.1s;
}